/* Color scheme: https://coolors.co/f0edf7-046577-cc9f3b-102a83-091748 */

/* Official IACR logo color is #102A83 until further notice */

/*** General ***/
@font-face {
  font-family: 'roboto';
  src: local('Roboto-Regular') url(./fonts/Roboto/Roboto-Regular.ttf) fomat('truetype');
}

body {
  font-family: 'roboto', sans-serif;
  background-color: #EDF0F7;
  color: #091748;
}

main {
  background-color: #EDF0F7;
}


/*** Header & Nav ***/
img#logo {
  max-height: 7em;
  width: auto;
}

nav, div.dropdown-menu {
  background-color: #046577;
}

/* NOTE: This is modifying bootstrap's classes, which is dangerous and generally frowned upon. Consider this a quickfix, not a way of life. */
a.nav-link, a.dropdown-item {
  color: #F0EDF7 !important;
}

ion-icon {
  color: #F0EDF7;
}


/*** Home Page ***/
/* NOTE: when uncommented, these give a bookmark effect to the date overlays on events */
/* div.card-img-overlay {
  width: 11em;
}
p.card-text {
  width: 100%;
} */

h3.cardHeading {
  background-color: #CC9F3B;
  color: #F0EDF7;
}

p.card-text {
  background-color: #046577;
}
