.masonry .card {
  margin-bottom: 0.5rem;
}

.masonry .card .card-body {
  padding:  0.5rem 0.5rem 0rem 0.5rem;
}

@media (min-width: 992px) {
  .masonry {
    -webkit-column-count: 2;
    -moz-column-count: 2;
    column-count: 2;
    -webkit-column-gap: 1.25rem;
    -moz-column-gap: 1.25rem;
    column-gap: 1.25rem;
    orphans: 1;
    widows: 1;
  }
  .masonry > .card {
    display: inline-block;
    width: 100%;
    margin-top: 20px;
  }
}

/* TODO: Build custom bootstrap. */
.masonry .card-header {
  font-size: 2em !important;
}

.navbarIacrAcronym {
  font-size: 2em !important;
}

#iacrLogo {
  max-height: 120px !important;
  max-width: 120px !important;
}

#searchBtn2 {
  height: 20px;
}
img.searchBtn {
  height: 20px;
}
img#searchBtnOfRecord {
  position: absolute;
  width: auto;
  bottom: 10px;
  right: 10px;
  margin-top: 0;
}

#searchBtn {
  height: 20px;
}
@media (min-width: 992px) {
  #searchBox:focus {
    min-width: 350px !important;
  }
  #searchInput {
      min-width: 900px !important;
  }
}

img.socialBtn {
    height: 2.5em;
}

/* border-bottom doesn't work on this element because it conflicts with
   dropdown-menu */
#searchDropdown {
    .border-top 0px !important;
    border-radius: 0 0 5px 5px !important;
}
#iacrDescription {
    font-size: 1.25rem;
}

/* NOTE: hover effect for navbar only on larger screens. massive thanks to https://stackoverflow.com/questions/51413782/dropdown-on-hover-in-bootstrap-4-1 */
@media only screen and (min-width: 992px) {
  .navbar-nav li:hover>.dropdown-menu {
    display: block;
  }
}

.navbar-nav li {
  padding-top: 8px;
  padding-bottom: 8px;
}

.navbar-nav .dropdown-menu {
  margin-top: 0px;
  border-radius: 0 0 .25rem .25rem;
}

/* TODO: realistically this should be tied to theme. done this way for now. when doing so, do like this under themes.css for each theme: .NAME-menubar, nav.NAME-menubar .dropdown-menu {...} */
nav.navbar .dropdown-menu {
  background: #102A83;
}

/* TODO: Build custom bootstrap for these. */
a.nav-link, a.dropdown-item {
  color: #EBF7EB !important;
}

a.dropdown-item:hover {
  background-color: #3B5099;
  /* rgba(146, 158, 198, 0.4); */
}
/* END todo */

/* **************** this should be removed ********************/
span.remover {
    opacity: 0;
    font-size: 1em;
    cursor:cell;
}
span.remover:hover {
    opacity: 1;
    color: red;
}
