/******* theme picker and general styling stuff *******/
#topbar h1 {
    text-shadow: 0 0 20px white;
}
#footer-menu {
    position:absolute;
    height:0;
}
#theme-menu {
    position: fixed;
    top: 0%;
    right: 0%;
    z-index: 1000;
/*    width: 0;*/
    height: 0;
}
#theme-menu button {
    background: #f0f0f0 !important;
    border: 2px solid red;
}


/******* more general styling (not theme-dependent colors) *******/
.navbar-iacr-acronym {
    color: #ffffff !important;
}

/* TODO: Build custom bootstrap for these. */
a.nav-link, a.dropdown-item {
  color: #EBF7EB !important;
}

a.dropdown-item:hover {
  background-color: #3B5099;
  /* rgba(146, 158, 198, 0.4); */
}
/* END todo */

/* ensures footer menu dropdown is still readable */
#theme-menu div.dropdown-menu a, div#footer-menu div.dropdown-menu a {
  color: black !important;
}


/******* theme: mono *******/
.mono-body {
    background: #F3F4F8 !important;
    color: #080808 !important;
}
.mono-menubar, .mono-menubar .dropdown-menu {
    background: #102a83 !important;
}
.mono-search {
    background: #102a83;
    color: #f0f0f0;
}

.mono-card-header {
    /*    background: #5164A4; */
    background: #04269E;
    color: #f0f0f0 !important;
}
.mono-card-header a {
    color: #f0f0f0 !important;
}

.mono-nav-link {
    color: #ffffff !important;
}
.mono-topbar {
    background: url(../img/triangles.svg);
    background-size: cover;
}
.mono-topbar h1 {
    color: #000000;
}
.mono-card-footer {
    background: #E9EBF3 !important;
}
.mono-footer {
    background:  #F3F4F8 !important; /* D3D8E8; */
}

.mono-footer a {
    /*    color: #0B1B54; */
    color: #0F2778;
}
.mono-footer {
    border-top: 4px solid #102a83;
}


/******* theme: cobalt (from https://coolors.co/fefefc-95ba12-102a83-0047ab-092d5e) *******/
.cobalt-topbar {
  background-color: #FEFEFC;
  background-image: linear-gradient(30deg, #FEFEFC 9%, transparent 9.5%, transparent 87%, #FEFEFC 87.5%, #FEFEFC),
  linear-gradient(70deg, #0047AB 25%, transparent 25.5%, transparent 80%, #0047AB 80%, #0047AB),
  linear-gradient(70deg, #95BA12 25%, transparent 25.5%, transparent 80%, #95BA12 80%, #95BA12);
}

.cobalt-topbar h1 {
  color: #092D5E;
}

.cobalt-body {
  background: #FEFEFC;
  color: #040404;
}

.cobalt-menubar, .cobalt-menubar .dropdown-menu {
  background: #0047AB;
}

.cobalt-search {
  background: #102A83;
  color: #040404;
}

.cobalt-card-header {
  background: #0047AB;
}

.cobalt-card-header a {
  color: #FEFEFC;
}

.cobalt-nav-link {
  color: #F0F0F0 !important;
}

.cobalt-footer {
  background: rgba(230, 231, 230, 0.3);
  margin-top: 50px !important;
  padding-top: 20px;
  padding-bottom: 0px !important;
}

.cobalt-footer a {
  color: #0047AB;
}

.cobalt-footerLinkList ul {
  border-left: 3px solid #95BA12;
  padding-left: 15px;
  margin-top: 6px;
}

/* only necessary for footer v3 */
.cobalt-footerTitle {
  border-left: 3px solid #95BA12;
  padding-left: 10px;
}

.cobalt-bottomOfFooter {
  background-color: #0047AB;
  color: #FEFEFC;
  padding: 10px;
}

.cobalt-bottomOfFooter a {
  color: #FEFEFC;
}


/******* theme: default *******/
.default-menubar .navbar-toggler {
  color: rgba(255, 255, 128, 1.0);
  border-color: rgba(255, 255, 255, 1.0);
}

.default-menubar .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255, 255, 255, 1.0)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
}

.default-body {
    background: #f8f9fa;
    color: #080808;
}

.default-menubar, .default-menubar .dropdown-menu {
  background: #2787c5;
}

.default-search {
    background: #2787c5;
    color: #f0f0f0;
}

.default-card-header {
    background: #2787c5;
    color: #f0f0f0;
}
.default-card-header a {
    color: #f0f0f0;
}

.default-nav-link {
    color: #ffffff !important;
    font-size: 1.2em !important;
}
.default-nav-link:hover {
    color: #e0e0e0 !important;
}
.default-topbar {
    background: linear-gradient(to right, rgba(255,255,255,1) 0%, rgba(39,135,197,0.6) 100%), url('../img/binary_swirl_trans.png');
    /*    background-image: url(textures/diagmonds-light.png); */
/*    background: #E9EBF3;
    background-image: url('../img/binary_swirl_trans.png');*/
}
.default-footer {
    /* border-top: 4px solid #2787c5; */
    /* background-image: url(../img/footer.svg);
    background-size: cover; */
    /* background-color: rgba(39, 135, 197, 0.1); */
    background: radial-gradient(ellipse at 50% 80%, rgba(151,190,215, 0.5) 50%, rgba(27,112,168, .5) 100%);
}
.default-footer a {
/*    color: #3E7307; */
    /*  color: #046577; */
    color: #102a83;
}


/******* rando stuff *******/
a#searchLink {
    color: #c0f0c0;
}
@media only screen and (min-width: 992px) {
    #navbarSupportedContent li:not(:last-child):hover,
    #navbarSupportedContent li:not(:last-child):hover>.dropdown-menu {
        background-color: #1777b5;
    /*      border-left: 3px solid #F2AC10 !important; */
    }
}


/******* theme: yet another blue *******/
.blues2-body {
    background: #f8f9fa;
    color: #080808;
}
.blues2-menubar, .blues2-menubar .dropdown-menu {
    /* background: #1b70a8; */
    /* background: linear-gradient(to top, #FFEFBA 0%, #fff 100%); */
    background: #2C3E50;  /* fallback for old browsers */
    background: #005C97;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #363795, #005C97);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #363795, #005C97); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}
.blues2-search {
    background: #1b70a8;
    color: #f0f0f0;
}

.blues2-card-header {
    background: #1b70a8;
    color: #f0f0f0;
}
.blues2-card-header a {
    color: #f0f0f0;
}

.blues2-nav-link {
    color: #ffffff !important;
    font-size: 1.2em !important;
}
.blues2-nav-link:hover {
    color: #e0e0e0 !important;
}
.blues2-topbar {
    /* background-image: url(../img/flipped_gradient.png);
    background-size: cover; */
}
.blues2-footer {
    /*    border-top: 4px solid #1b70a8; */
    background: radial-gradient(ellipse at 50% 80%, rgba(151,190,215, 0.5) 50%, rgba(27,112,168, .5) 100%);
}
.blues2-footer a {
    color: #102a83;
}


/******* theme: yet another blue, different header *******/
.blues3-body {
    background: #f8f9fa;
    color: #080808;
}
.blues3-menubar, .blues3-menubar .dropdown-menu {
    background: #1b70a8;
}
.blues3-search {
    background: #1b70a8;
    color: #f0f0f0;
}

.blues3-card-header {
    background: #1b70a8;
    color: #f0f0f0;
}
.blues3-card-header a {
    color: #f0f0f0;
}

.blues3-nav-link {
    color: #ffffff !important;
    font-size: 1.2em !important;
}
.blues3-nav-link:hover {
    color: #e0e0e0 !important;
}
.blues3-topbar {
    background: linear-gradient(to right, rgba(255,255,255,.95) 0%, rgba(255,255,255,.7) 60%, rgba(255,255,255,0.4) 100%), url('../img/background-2462431_1920.jpg');
}
.blues3-footer {
    border-top: 4px solid #1b70a8;
}



/******* theme: blue with cubed header *******/
.cube-body {
    background: #f8f9fa;
    color: #080808;
}
.cube-menubar, .cube-menubar .dropdown-menu {
    background: #4083CF;
}
.cube-search {
    background: #4083CF;
    color: #f0f0f0;
}

.cube-card-header {
    background: #4083CF;
    color: #f0f0f0;
}
.cube-card-header a {
    color: #f0f0f0;
}

.cube-nav-link {
    color: #ffffff !important;
    font-size: 1.2em !important;
}
.cube-nav-link:hover {
    color: #e0e0e0 !important;
}
.cube-topbar {
    background-image: url(../img/blue_cubed.png);
    background-size: contain;
}
.cube-footer {
    border-top: 4px solid #4083CF;
    background-color: #FFFFFF;
}


/******* theme: teal-ish *******/
.new-body {
  /* background-color: rgba(255, 245, 230, 0.05); */
  /* background-image: url('https://www.aaas.org/themes/custom/aaas_v2/assets/images/common/pattern-circles-full.svg'); */
  color: #080808;
}

.new-topbar {
    background: linear-gradient(to right, rgba(255,255,255,1) 0%, rgba(255,255,255,0) 60%, rgba(255,255,255,0.0) 100%), url('../img/nums.jpg');
}

.new-menubar, .new-menubar .dropdown-menu {
    background: #054C56;
}

.new-card-header {
    background-color: #046577 !important;
}

.new-card-header a {
    color: #f0f0f0 !important;
}

.new-nav-link, .new-nav-link a {
    color: #f0f0f0 !important;
}
.new-footer {
  border-top: 4px solid #046577;
  background-color: #FFFFFF;
}

.new-bottomOfFooter {
    background-color: #046577 !important;
    color: #ffffff !important;
}
.new-bottomOfFooter a {
    color: #ffffff !important;
}

.new-footerLinkList a, .new-footerLink {
    color: #102a83 !important;
}



/******* theme: more numbers *******/
.nums-body {
  /* background-color: rgba(255, 245, 230, 0.05); */
  /* background-image: url('https://www.aaas.org/themes/custom/aaas_v2/assets/images/common/pattern-circles-full.svg'); */
  color: #080808;
}

.nums-topbar {
  background: linear-gradient(to right, rgba(255,255,255,1) 0%, rgba(255,255,255,0.6) 100%), url('../img/binary_swirl_bw.jpg');
}

.nums-search {
    background-color: #054c56;
}

.nums-card-header {
    background-color: #046577 !important;
}

.nums-card-header a {
  color: #f0f0f0 !important;
}

.nums-nav-link, .nums-nav-link a {
  color: #f0f0f0 !important;
  font-size: 1.2em !important;
}

.nums-footer {
  border-top: 4px solid #046577;
  background-color: #FFFFFF;
}

.nums-footer  a {
  color: #102a83 !important;
}

.nums-menubar, .nums-menubar .dropdown-menu {
  background: #054C56 !important;
}


/* Monochrome with accent II (theme from https://coolors.co/972045-e0e0ef-3b5099-102a83-0b1b54) */
.seaweed-topbar {
  /* background-image: url(../img/green.svg);
  background-size: cover; */
  background-color: #FFF;
  background-image: linear-gradient(60deg, #FFF 4%, transparent 4.5%, transparent 92%, #FFF 92.5%, #FFF),
  linear-gradient(70deg, #0A8299 30%, transparent 30.5%, transparent 80%),
  linear-gradient(70deg, #FFF 25%, transparent 25.5%, transparent 80%);
  /* background-size: 80px 140px;
  background-position: 0 0, 0 0, 40px 70px, 40px 70px, 0 0, 40px 70px; */
}

.seaweed-topbar h1 {
  color: #040404;
}

.seaweed-body {
  background: #FFF;
  color: #040404;
}

.seaweed-menubar, .seaweed-menubar .dropdown-menu {
  background: #0A8299;
}

.seaweed-search {
  background: #102A83;
  color: #040404;
}

.seaweed-card-header {
  background: #1C4AE3;
}

.seaweed-card-header a {
  color: #FEFEFC;
}

.seaweed-nav-link {
  color: #FFF !important;
}

.seaweed-footer {
  background: rgba(230, 231, 230, 0.3);
  margin-top: 50px !important;
  padding-top: 20px;
  padding-bottom: 0px !important;
}

.seaweed-footer a {
  color: #0047AB;
}

.seaweed-footerLinkList ul {
  border-left: 3px solid #95BA12;
  padding-left: 15px;
  margin-top: 6px;
}

/* only necessary for footer v3 */
.seaweed-footerTitle {
  border-left: 3px solid #95BA12;
  padding-left: 10px;
}

.seaweed-bottomOfFooter {
  background-color: #0047AB;
  color: #FEFEFC;
  padding: 10px;
}

.seaweed-bottomOfFooter a {
  color: #FEFEFC;
}
