/* Color scheme: https://coolors.co/fefefe-d3e0bf-618e15-102a83-600030, originally http://www.colourlovers.com/palette/656827/fresh_apples?sAC=1 */

/* Official IACR logo color is #102A83 until further notice */


/*** General ***/
@font-face {
  font-family: 'roboto';
  src: local('Roboto-Regular') url(./fonts/Roboto/Roboto-Regular.ttf) fomat('truetype');
}

body {
  font-family: 'roboto', sans-serif;
}


/*** Header & Nav ***/
img#logo {
  max-height: 7em;
  width: auto;
}

/* NOTE: these are both to leave enough space for the dropdown theme picker. please remove this entire block once theme picker is no longer relevant */
header {
  margin-top: 40px;
}

@media (max-width: 992px) {
  nav {
    margin-top: 40px;
  }
}
/* end styles exclusive to theme picker */

/* NOTE: This is modifying bootstrap's classes, which is dangerous and generally frowned upon. Consider this a quickfix, not a way of life. */
a.nav-link, a.dropdown-item {
  color: #EBF7EB !important;
}

ion-icon {
  color: #EBF7EB;
}

div.input-group input {
  background-color: #EBF7EB;
}

button.custom-toggler>ion-icon {
  color: #EBF7EB;
}


/*** Home Page ***/
h5.footerTitle {
  padding-left: 15px;
  border-left: 3px solid #618E15;
  padding-bottom: 6px;
}

#tcc_overlay {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font: bold 36px sans-serif;
  color: #102a83;
}

#asiacrypt_overlay {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font: bold 18px sans-serif;
  color: #102a83;
}

img.figure-img {
  width: 150px;
  height: 150px;
}

.figure-caption {
  font-size: 1.1em;
}

img#pubPhoto {
  /* NOTE: fix for img distortion issue on mobile */
  height: 100%;
}

ul#pubLinks>li {
  margin-bottom: 10px;
}

footer ul.nav {
  padding-left: 5px;
}


/*** Timeline ***/
ul.timeline {
    list-style-type: none;
    position: relative;
}

ul.timeline:before {
    content: ' ';
    background: #d4d9df;
    display: inline-block;
    position: absolute;
    left: 29px;
    width: 2px;
    height: 100%;
    z-index: 400;
}

ul.timeline > li {
    margin: 20px 0;
    padding-left: 20px;
}

ul.timeline > li:before {
    content: ' ';
    background: white;
    display: inline-block;
    position: absolute;
    border-radius: 50%;
    border: 3px solid #22c0e8;
    left: 20px;
    width: 20px;
    height: 20px;
    z-index: 400;
}
