.suggestion-title {
    font-weight: 700;
    color: #202020;
}
.subtitle {
    margin-left: 1em;
    color: #338033;
}
.easy-autocomplete-container ul li {
    border-top: 1px solid lightgray !important;
}
.eac-item {
    margin: 0px !important;
}
.easy-autocomplete-container {
    /* If the dropdown is too far left, use this
   left: 1em; */
    /* width: 500px !important; */
    width: 100% !important;
    /* These are for vertical scrolling. */
    max-height: 500px;
    overflow-y: auto;
}
/* This makes sure that autocompletions fit on mobile. */
@media (max-width: 500px) {
    .easy-autocomplete-container {
        max-width: 325px !important;
    }
}
/* added for dropdown addition. */
#searchChoice {
    background: #f0f0f0;
    padding: 5px;
    text-align: center;
}
#searchChoice a {
    display: inline;
}