/* Official IACR logo color is #102A83 until further notice */


/*** General ***/
@font-face {
  font-family: 'roboto';
  src: local('Roboto-Regular') url(../../styles/fonts/Roboto/Roboto-Regular.ttf) fomat('truetype');
}

body {
  font-family: 'roboto', sans-serif;
}



/*** Header & Nav ***/
img#iacrLogo {
  max-height: 7em;
  width: auto;
}

/* NOTE: hover effect for navbar. massive thanks to https://stackoverflow.com/questions/51413782/dropdown-on-hover-in-bootstrap-4-1 */
.navbar-nav li:hover>.dropdown-menu {
  display: block;
}

/* TODO: Build custom bootstrap for this. */
a.nav-link, a.dropdown-item {
  color: #EBF7EB !important;
}

input#searchBox {
  background-color: #FDFDFD;
}

img.searchBtn {
  height: 20px;
}



/*** Footer ***/
footer#pageFooter ul.nav {
  padding-left: 5px;
}

img.socialBtn {
  height: 2.5em;
}
