/* Official IACR logo color is #102A83 until further notice */


/*** General ***/
@font-face {
  font-family: 'roboto';
  src: local('Roboto-Regular') url(../../styles/fonts/Roboto/Roboto-Regular.ttf) fomat('truetype');
}

body {
  font-family: 'roboto', sans-serif;
}



/*** Header & Nav ***/
button#customToggler {
  border-color: #F2AC10;
}

/* TODO: custom bootstrap needed (changes color of toggler icon) */
.navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(254,254,254,0.8)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E") !important;
}

img#iacrLogo {
  max-height: 7em;
  width: auto;
}

img#navbarLogo {
  height: 75px;
  width: 75px;
  -webkit-box-shadow: 0 0 20px 2px rgba(254,254,254,1);
  -moz-box-shadow: 0 0 20px 2px rgba(254,254,254,1);
  box-shadow: 0 0 20px 2px rgba(254,254,254,1);
  border-radius: 50%;
}

a.navbarTitle {
  color: rgba(254, 254, 254, 0.9);
}

/* NOTE: hover effect for navbar. massive thanks to https://stackoverflow.com/questions/51413782/dropdown-on-hover-in-bootstrap-4-1 */
.navbar-nav li:hover>.dropdown-menu {
  display: block;
}

/* TODO: Build custom bootstrap for this. */
a.nav-link, a.dropdown-item {
  color: #EBF7EB !important;
}

input#searchBox {
  background-color: #FDFDFD;
}

img.searchBtn {
  height: 20px;
}



/*** Footer ***/
footer#pageFooter ul.nav {
  padding-left: 5px;
}

img.socialBtn {
  height: 2.5em;
}
