/* NOTE: IACR logo color is officially #102a83 until further notice */


/*** Button for changing themes ***/
#theme-menu {
  position: fixed;
  top: 27%;
  left: 45%;
  z-index: 1;
  height: 0;
}

#theme-menu button {
  background: #f0f0f0 !important;
  border: 2px solid blue;
}


/*** Default theme. Copy this to make a new one, replacing * .default with .green or whatever the name is. ***/
/* default theme based on https://coolors.co/f2ac10-929ec6-3b5099-102a83-0b1b54 */
.default-body {
    background: #FEFEFE;
    color: #080808;
}

.default-anchor {
  color: #3B5099;
}

.default-menubar, nav.default-menubar .dropdown-menu {
  background: #102A83;
}

.default-cardHeading {
  border-top: 4px solid #F2AC10;
}

.default-conferenceHeader {
  background-color: #102A83;
  color: #FEFEFE;
}

.default-eventInfo {
  background-color: rgba(59, 80, 153, 0.8);
  color: #FEFEFE;
}

.default-footer {
  background-color: rgba(146, 158, 198, 0.2);
}

.default-footerTitle, .default-footerTitle>a {
  color: #0B1B54;
}

.default-footerTitle {
  border-left: 3px solid #F2AC10;
  padding-left: 10px;
}

.default-footerLink, .default-footerLink>ion-icon {
  color: #102A83;
}

/* TODO: Build custom bootstrap for this. */
.default-menubar a.nav-link, .default-menubar a.dropdown-item {
  color: #EBF7EB !important;
}

/* TODO: Build custom bootstrap for this. */
.default-menubar a.dropdown-item:hover {
  background-color: #3B5099;
  /* rgba(146, 158, 198, 0.4); */
}



/*** Fresh apples theme, based on https://coolors.co/fefefe-d3e0bf-618e15-102a83-600030 ***/
.apple-body {
  background-color: #FEFEFE;
  color: #220012;
}

.apple-anchor {
  color: #598113;
}

.apple-menubar, nav.apple-menubar .dropdown-menu {
  background-color: #600030;
}

.apple-cardHeading {
  border-top: 4px solid #618E15;
}

.apple-conferenceHeader {
  background-color: #600030;
  color: #FEFEFE;
}

.apple-eventInfo {
  background-color: rgba(97, 142, 21, 0.8);
  /* alternative: rgba(96, 0, 48, 0.8); */
  color: #FEFEFE;
}

.apple-footer {
  background-color: #F3F7EE;
}

.apple-footerTitle, .apple-footerTitle>a {
  color: #091748;
}

.apple-footerTitle {
  border-left: 3px solid #618E15;
  padding-left: 10px;
}

.apple-footerLink, .apple-footerLink>ion-icon {
  color: #600030;
}
/* TODO: Build custom bootstrap for this. */
.apple-menubar a.nav-link, .apple-menubar a.dropdown-item {
  color: #EBF7EB !important;
}

/* TODO: Build custom bootstrap for this. */
.apple-menubar a.dropdown-item:hover {
  background-color: #3B5099;
  /* rgba(146, 158, 198, 0.4); */
}



/*** monochrome2 theme, based on https://coolors.co/972045-e0e0ef-3b5099-102a83-0b1b54 ***/
.mono2-body {
  background: #FEFEFE;
  color: #080808;
}

.mono2-anchor {
  color: #3B5099;
}

.mono2-menubar, nav.mono2-menubar .dropdown-menu {
  background: #102A83;
}

.mono2-cardHeading {
  border-top: 4px solid #972045;
}

.mono2-conferenceHeader {
  background-color: #102A83;
  color: #FEFEFE;
}

.mono2-eventInfo {
  background-color: rgba(224, 224, 239, 0.7);
  color: #080808;
}

.mono2-footer {
  background-color: rgba(224, 224, 239, 0.2);
}

.mono2-footerTitle, .mono2-footerTitle>a {
  color: #0B1B54;
}

.mono2-footerTitle {
  border-left: 3px solid #972045;
  padding-left: 10px;
}

.mono2-footerLink, .mono2-footerLink>ion-icon {
  color: #102A83;
}
/* TODO: Build custom bootstrap for this. */
.mono2-menubar a.nav-link, .apple-menubar a.dropdown-item {
  color: #EBF7EB !important;
}

/* TODO: Build custom bootstrap for this. */
.mono2-menubar a.dropdown-item:hover {
  background-color: #3B5099;
  /* rgba(146, 158, 198, 0.4); */
}



/*** complementary colors ***/
/*** from https://coolors.co/972045-e0e0ef-3b5099-102a83-0b1b54 ***/
.mono3-body {
    background: #F0F0F0;
  color: #080808;
}

.mono3-anchor {
    color: #0E236C;
}

.mono3-menubar, nav.mono3-menubar .dropdown-menu {
    background: #0E236C;
}

.mono3-cardHeading {
  border-top: 4px solid #5f3b99;
}

.mono3-conferenceHeader {
    background-color: #3B5099;
    color: #FEFEFE;
}

.mono3-eventInfo {
  background-color: rgba(224, 224, 239, 0.7);
  color: #080808;
}

.mono3-footer {
    background-color: #DBDFEC;
}

.mono3-menubar a.dropdown-item:hover {
    background-color: #5164A4 !important;
  /* rgba(146, 158, 198, 0.4); */
}
.mono3-footerTitle, .mono3-footerTitle>a {
  color: #0B1B54;
}

.mono3-footerTitle {
    border-left: 3px solid #3b9985;
  padding-left: 10px;
}

.mono3-footerLink, .mono3-footerLink>ion-icon {
  color: #102A83;
}
/* TODO: Build custom bootstrap for this. */
.mono3-menubar a.nav-link, .mono3-menubar a.dropdown-item {
  color: #F0F0F0 !important;
}

/* TODO: Build custom bootstrap for this. */
.mono3-menubar a.dropdown-item:hover {
  background-color: #102a83;
  /* rgba(146, 158, 198, 0.4); */
}



/*** a theme needs no name, based on https://coolors.co/eef5f6-e9ab1c-2f8899-046577-102a83 ***/
.nameless-body {
  background-color: #FFF;
  color: #02040C;
}

/* not used on the shell of a page, important for later */
/* .nameless-anchor {
  color: #598113;
} */

.nameless-menubar, nav.nameless-menubar .dropdown-menu {
  background-color: #2F8899;
}

/* not used on the shell of a page, important for later */
/* .nameless-cardHeading {
  border-top: 4px solid #618E15;
}

.nameless-conferenceHeader {
  background-color: #600030;
  color: #FEFEFE;
}

.nameless-eventInfo {
  background-color: rgba(97, 142, 21, 0.8);
  color: #FEFEFE;
} */

.nameless-footer {
  background-color: rgba(236, 244, 245, 0.5);
}

.nameless-footerTitle, .nameless-footerTitle>a {
  color: #08143C;
}

.nameless-footerTitle {
  border-right: 3px solid #E9AB1C;
  border-top: 1px solid #E9AB1C;
  padding-top: 10px;
  border-radius: 25%;
}

.nameless-footerLink {
  color: #3B5099;
  /* alt: #046577; */
}

/* TODO: Build custom bootstrap for this. */
.nameless-menubar a.nav-link, .nameless-menubar a.dropdown-item {
  color: #EBF7EB !important;
}

/* TODO: Build custom bootstrap for this. */
.nameless-menubar a.dropdown-item:hover {
  background-color: #3B5099;
}
