/*** Color palette: https://coolors.co/000000-c7ddea-0dfa0a-0ab008-011702 ***/


/*** General ***/
body {
  background-color: rgba(199, 221, 234, 0.1);
  color: #011702;
}

a {
  color: #0AB008;
}

a:hover {
  color: #273785;
  text-decoration-color: #273785;
}

h1, h2, h3 {
  color: #273785;
}

h4, h5, h6 {
  color: #011702;
}


/*** Nav ***/
nav.navbar-nav {
  background-color: rgba(199, 221, 234, 0.1);
}

a.nav-link {
  color: #0AB008 !important;
}

div.dropdown-menu {
  background-color: #EDF4F8;
}

a.dropdown-item {
  color: #0AB008;
}

a.dropdown-item:hover {
  background-color: #0DFA0A;
}
