/*** Color palette: https://coolors.co/ddeee9-77bba9-273885-068462-033024 ***/


/*** General ***/
body {
  background-color: rgba(221, 238, 233, 0.1);
  color: #033024;
}

a {
  color: #068462;
}

a:hover {
  color: #77BBA9;
  text-decoration-color: #77BBA9;
}


/*** Nav ***/
nav.navbar-nav {
  background-color: rgba(221, 238, 233, 0.1);
}

a.nav-link {
  color: #068462 !important;
}

div.dropdown-menu {
  background-color: #F9FDFC;
}

a.dropdown-item {
  color: #068462;
}

a.dropdown-item:hover {
  background-color: #273785;
  color: #77BBA9;
}
