#theme-menu {
    position: fixed;
    top: 0%;
    right: 0%;
    z-index: 1000;
/*    width: 0;*/
    height: 0;
}
#theme-menu button {
    background: #f0f0f0 !important;
    border: 2px solid red;
}

.navbar-iacr-acronym {
    color: #ffffff !important;
}

/*****************************************************************
Default theme. Copy this to make a new one, replacing * .default
by .green or whatever the name is.
**************************************************************/

.default-body {
    background: #f0f0f0;
    color: #0c0c0c;
}
.default-menubar {
    background: #2787c5;
}

.default-card-header {
    background: #2787c5;
    color: #f0f0f0;
}
.default-card-header a,h2 {
    color: #f0f0f0;
}

.default-nav-link {
    color: #ffffff !important;
}
.default-topbar {
    background: url(../img/bg1.jpg);
}
.default-card-footer {
    background: #e0e0f0 !important;
}

/********* Green theme **********************************/
.green-topbar {
    background: #73b0a4;
    background-image: none;
}
}

.green-body {
    background: #DDEEE9;
    color: #0c0c0c;
}
.green-menubar {
    background: #035024;
}
.green-card-header {
    background: #27c587;
    color: #c0ffc0;
}
.green-card-header a,h2 {
    color: #c0ffc0;
}
.green-nav-link {
    color: #404040 !important;
}

/********* Ugly theme **********************************/

.ugly-body {
    background: #f0f0f0;
    color: #0c0c0c;
}
.ugly-menubar {
    background: #2787c5;
}

.ugly-card-header {
    background: #2787c5;
    color: #f0f0f0;
}
.ugly-card-header a,h2 {
    color: #f0f0f0;
}

.ugly-nav-link {
    color: #ffffff !important;
}
.ugly-topbar {
    background: url(./tri.svg);
}
