#theme-menu {
    position: fixed;
    top: 8%;
    left: 45%;
    z-index: 1000;
    height: 0;
}
#dropdownMenuButton {
    background: #404040 !important;
    color: #f0f0f0;
    border: 2px solid #d04040;
}

.navbar-iacr-acronym {
    color: #ffffff !important;
}

/*****************************************************************
Default theme. Copy this to make a new one, replacing * .default
by .green or whatever the name is.
**************************************************************/

.default-body {
    background: #f0f0f0;
    color: #0c0c0c;
}
.default-card-header {
    background: #2787c5;
    color: #f0f0f0;
}
.default-card-header a, .default-card-header h2 {
    color: #f0f0f0;
}

.default-name {
    color: #202020;
}
.default-topbar {
    background: url(../img/bg1.jpg);
}
.default-card-footer {
    background: #e0e0f0 !important;
}

/* waves theme */
.waves-body {
    background: #f0f0f0;
    color: #0c0c0c;
}
.waves-card-header {
    background: #3B5099;
    color: #f0f0f0;
}
.waves-card-header a, .waves-card-header h2 {
    color: #f0f0f0;
}

.waves-name {
    color: #e0e0e0;
}
.waves-topbar {
    background: url(../banners/examples/waves.svg);
}
.waves-card-footer {
    background: #e0e0f0 !important;
}

/********* Green theme **********************************/
.green-body {
    background: #DDEEE9;
    color: #0c0c0c;
}
.green-card-header {
    background: #27c587;
    color: #404040 !important;
}
.green-card-header a, .green-card-header h2 {
    color: #404040 !important;
}
.green-name {
    #000000;
}
.green-topbar {
    background: #73b0a4;
    background: url(../img/green.svg);
}
.green-card-footer {
    background: #50d0a0 !important;
}
.green-card-footer a {
    color: #204020 !important;
    text-decoration: underline !important;
}

/********* Ugly theme **********************************/

.ugly-body {
    background: #f0f0f0;
    color: #0c0c0c;
}
.ugly-card-header {
    background: #0D6875 !important;
    color: #f0f0f0 !important;
}
.ugly-card-header a, .ugly-card-header h2 {
    color: #f0f0f0 !important;
}
.ugly-name {
    color: #E0FFFF !important;
}
.ugly-topbar {
    background: url(headers/teal.svg);
}
.ugly-card-footer {
    background: #5DAAB5 !important;
}
.ugly-card-footer a {
    color: #ffffff !important;
}
