#theme-menu {
    position: fixed;
    top: 0%;
    left: 0%;
    z-index: 1000;
/*    width: 0;*/
    height: 0;
}
#theme-menu button {
    background: #f0f0f0 !important;
    border: 2px solid red;
}

.navbar-iacr-acronym {
    color: #ffffff !important;
}

/*****************************************************************
ugly theme. Copy this to make a new one, replacing * .ugly-
by .green- or whatever the name is.
**************************************************************/

.ugly-body {
    background: #F3F4F8 !important;
    color: #0c0c0c !important;
}
.ugly-menubar {
    background: #102a83 !important;
}

.ugly-card-header {
    background: #5164A4;
    color: #f0f0f0 !important;
}
.ugly-card-header a,h2 {
    color: #f0f0f0 !important;
}

.ugly-nav-link {
    color: #ffffff !important;
}
.ugly-topbar {
    background: url(../img/blues35.svg);
    background-size: cover;
}
.ugly-card-footer {
    background: #E9EBF3 !important;
}
.ugly-footer {
    background:  #F3F4F8 !important; /* D3D8E8; */
}

.ugly-footer div.rule {
/*    color: #102a83; */
    background: #102a83;
    height: 4px;
    display:block !important;
}


/********* Green theme **********************************/
.green-topbar {
    background: #73b0a4;
    background-image: url(textures/gplay.png);
}

.green-body {
    background: #DDEEE9;
    color: #0c0c0c;
}
.green-menubar {
    background: #035024;
}
.green-card-header {
    background: #27c587;
    color: #204020;
}
.green-card-header a,h2 {
    color: #204020;
}
.green-nav-link {
    color: #404040 !important;
}
.green-footer {
    background: #73b0a4;
}
/********* default theme **********************************/

.default-body {
    background: #f0f0f0;
    color: #0c0c0c;
}
.default-menubar {
    background: #2787c5;
}

.default-card-header {
    background: #2787c5;
    color: #f0f0f0;
}
.default-card-header a,h2 {
    color: #f0f0f0;
}

.default-nav-link {
    color: #ffffff !important;
}
.default-topbar {
    background: #0792f9;
    background-image: url(textures/diagmonds-light.png);
}
