/*** Color palette adapted from: https://coolors.co/eeb159-3a1a94-ee8959-bd4a13-f6c0a6 ***/


/*** General ***/
body {
  background-color: rgba(253, 243, 232, 0.5);
  color: #17204F;
}

a {
  color: #A75E11;
}

a:hover {
  color: #273785;
  text-decoration-color: #273785;
}

h1, h2, h3 {
  color: #273785;
}

h4, h5, h6 {
  color: #17204F;
}


/*** Nav ***/
nav.navbar-nav {
  background-color: rgba(253, 243, 232, 0.5);
}

a.nav-link {
  color: #A75E11 !important;
}

div.dropdown-menu {
  background-color: #273785;
}

a.dropdown-item {
  color: #F6CEA2;
}

a.dropdown-item:hover {
  background-color: #BD4A13;
}
