/*** Color palette: https://coolors.co/ff3e6e-a62d5b-273785-26b8c6-aaef67 ***/


/*** General ***/
body {
  background-color: rgba(243, 244, 248, 0.1);
  color: #17204F;
}

/* NOTE: this should be consistent with the primary colors (which in this case are blue OR green) */
a {
  color: #A62D5B;
}

a:hover {
  color: #26B8C6;
  text-decoration-color: #26B8C6;
}

h1, h2, h3 {
  color: #273785;
}

/* NOTE: Kevin didn't like the different color for headings. suggests different weight as a method of differentiation */
h4, h5, h6 {
  color: #335C0A;
}


/*** Nav ***/
nav.navbar-nav {
  background-color: rgba(243, 244, 248, 0.1);
}

a.nav-link {
  color: #A62D5B !important;
}

div.dropdown-menu {
  background-color: #EFFCE3;
}

a.dropdown-item {
  color: #A62D5B;
}

a.dropdown-item:hover {
  background-color: #273785;
  color: #26B8C6;
}
