/*** Navbar (general) ***/
.navbar-nav li {
  padding-top: 8px;
  padding-bottom: 8px;
}

/* NOTE: hover effect for navbar only on larger screens. massive thanks to https://stackoverflow.com/questions/51413782/dropdown-on-hover-in-bootstrap-4-1 */
@media only screen and (min-width: 992px) {
 #navbarSupportedContent li:not(:last-child):hover>.dropdown-menu {
      display: block;
/*      border-left: 3px solid #F2AC10 !important; */
  }
}

.navbar-nav .dropdown-menu {
  margin-top: 0px;
  border-radius: 0 0 .25rem .25rem;
}



/*** Navbar (expanded) ***/
#iacrLogo {
  max-height: 120px;
  max-width: 120px;
}



/*** Navbar (mobile) ***/
.navbarIacrAcronym {
  font-size: 2em;
}



/*** Search ***/
img.searchBtn {
  height: 20px;
}

#searchDropdown {
    border-radius: 0 0 5px 5px !important;
}

@media (min-width: 992px) {
  #searchBox:focus {
    min-width: 350px !important;
  }
}



/*** Footer ***/
img.socialBtn {
    height: 2.5em;
}

a.social:hover {
  text-decoration: none;
}



/*** Home-specific (i.e. not used across pages) ***/
.masonry .card {
  margin-bottom: 0.5rem;
}

.masonry .card .card-body {
  padding:  0.5rem 0.5rem 0rem 0.5rem;
}

@media (min-width: 992px) {
  .masonry {
    -webkit-column-count: 2;
    -moz-column-count: 2;
    column-count: 2;
    -webkit-column-gap: 1.25rem;
    -moz-column-gap: 1.25rem;
    column-gap: 1.25rem;
    orphans: 1;
    widows: 1;
  }
  .masonry > .card {
    display: inline-block;
    width: 100%;
    margin-top: 20px;
  }
}

/* TODO: Build custom bootstrap. */
.masonry .card-header {
  font-size: 2em !important;
}



/************* editing below this line ******************************/

/*** Footer 3 only ***/
#pageFooterAbout {
  hyphens: auto;
}

footer#v3 ul.nav {
  padding-left: 5px;
}

img.socialBtn {
  height: 2.5em;
}

#searchDropdown {
    z-index: 800 !important;
}
#pageHeader {
    box-shadow: 0px 3px 10px rgba(0,0,0,0.4);
}
#searchDropdown {
    box-shadow: 0px 3px 6px rgba(0,0,0,0.4);
}
/* ****************************** toggler ********************/
.nofocus:focus {
    outline: none !important;
}
.icon-bar {
    width: 29px;
    height: 2px;
    background-color: #F0F0F0;
    display: block;
    transition: all 0.3s;
    margin-bottom: 6px
}

.navbar-toggler {
    border: none;
    background: transparent !important;
}
.navbar-toggler .top-bar {
    transform: rotate(45deg);
    transform-origin: 10% 10%;
}

.navbar-toggler .middle-bar {
    opacity: 0;
}

.navbar-toggler .bottom-bar {
    transform: rotate(-45deg);
    transform-origin: 10% 90%;
}

.navbar-toggler.collapsed .top-bar {
    transform: rotate(0);
}

.navbar-toggler.collapsed .middle-bar {
    opacity: 1;
}

.navbar-toggler.collapsed .bottom-bar {
    transform: rotate(0);
}
/* **************************** Search buttons */
.searchButtons {
    background-color: transparent;
    border-color: #ffffff;
    color: #ffffff;
}
.searchButtons:hover {
  color: #fff;
  background-color: #0A6F90;
  border-color: #0A6F90;
}
/* Smaller lighter font in desktop footer. */
@media only screen and (min-width: 767px) {
    footer#v1, footer#v2 {
        font-size: 80%;
        font-weight: 400;
    }
}
.searchDropdownParent {
    position:absolute !important;
    right: 0%;
    top: 20px;
}
#searchDropdown2 {
  width: 95vw;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}
/* These are mostly copied from .container in bootstrap so that the
searchDropdown2 is sized correctly at different widths.  */
@media (min-width: 300px) {
  #searchDropdown2 {
    max-width: 280px;
  }
}
@media (min-width: 350px) {
  #searchDropdown2 {
    max-width: 320px;
  }
}
@media (min-width: 420px) {
  #searchDropdown2 {
    max-width: 400px;
  }
}
@media (min-width: 576px) {
  #searchDropdown2 {
    max-width: 540px;
  }
}

@media (min-width: 768px) {
  #searchDropdown2 {
    max-width: 720px;
  }
}

@media (min-width: 992px) {
  #searchDropdown2 {
    max-width: 960px;
  }
}

@media (min-width: 1200px) {
  #searchDropdown2 {
    max-width: 1140px;
  }
}
