.suggestion-title {
  font-weight: 700;
  color: #202020;
}

.suggestion-subtitle {
  margin-left: 1em;
  color: #005521;
}

.easy-autocomplete-container {
  -webkit-box-shadow: 1px 8px 20px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 1px 8px 20px 0px rgba(0,0,0,0.75);
  box-shadow: 1px 8px 20px 0px rgba(0,0,0,0.75);
}

.easy-autocomplete-container ul li {
  border-top: 1px solid lightgray !important;
}

.eac-item {
  margin: 0px !important;
}

.easy-autocomplete-container {
  width: 100% !important;
  /* These are for vertical scrolling. */
  max-height: 500px;
  overflow-y: auto;
}
