/*** General ***/
#topbar h1 {
  text-shadow: 0 0 20px white;
}

.default-topbar h1 {
  color: #000000;
}

.default-body {
  background: #F8F8F8;
  color: #080808 !important;
  background-image: linear-gradient(to bottom, rgba(255,255,255,.8),rgba(255,255,255,.5) 10%,rgba(255,255,255,.5)),url('tris.svg');
  background-size:cover;
}

.default-main {
  background: #FCFCFC;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15) !important;
}



/*** Navbar ***/
.navbar-iacr-acronym {
  color: #ffffff !important;
}

/* TODO: build custom bootstrap for these */
a.nav-link, a.dropdown-item {
  color: #EBF7EB !important;
}

body a.dropdown-item:hover {
  background-color: #3B5099;
}
/* END todo */

.default-menubar, .default-menubar .dropdown-menu {
  background: #102a83 !important;
}

.default-menubar .navbarIacrAcronym {
  color: #f0f0f0 !important;
}

.default-nav-link {
  font-size: 1.2em !important;
  color: #ffffff !important;
}

.default-body a.dropdown-item:hover {
  background-color: #3B5099 !important;
}

.navbarIacrAcronym {
  color: #f0f0f0 !important;
}



/*** Search ***/
.default-search {
  background: #102a83;
  color: #f0f0f0;
}

a#searchLink {
  color: #c0f0c0;
}



/*** Home-specific (i.e. not used across pages) ***/
.default-card-header {
  background: #04269E;
  color: #f0f0f0 !important;
}
.default-card-header a {
  color: #f0f0f0 !important;
}

.default-card-footer {
  background: #E9EBF3 !important;
}



/*** Footer ***/
.default-footer {
  background: linear-gradient(rgba(233, 235, 243, 0) 0%, rgba(252, 252, 252, 0.5) 30%, rgba(252, 252, 252, 0.7) 100%);
}

.default-footer a {
  color: #0F2778;
}

.default-footer ul {
  margin-top: 6px;
  padding-left: 10px;
  border-left: 3px solid #f2AC10;
}

.default-bottomOfFooter {
  color: #FFF;
  background-color: #102A83;
}

.default-bottomOfFooter a {
  color: #FFF;
}




/* TODO: is obsolete; remove? */
.olddefault-body {
  /* background-color: rgba(255, 245, 230, 0.05); */
  /* background-image: url('https://www.aaas.org/themes/custom/aaas_v2/assets/images/common/pattern-circles-full.svg'); */
  color: #080808;
}

.olddefault-topbar {
  background: linear-gradient(to right, rgba(255,255,255,1) 0%, rgba(255,255,255,0.6) 100%), url('../img/binary_swirl_bw.jpg');
}

.olddefault-search {
    background-color: #054c56;
}

.olddefault-card-header {
    background-color: #046577 !important;
}

.olddefault-card-header a {
  color: #f0f0f0 !important;
}

.olddefault-nav-link, .olddefault-nav-link a {
  color: #f0f0f0 !important;
  font-size: 1.2em !important;
}

.olddefault-footer {
/*  border-top: 4px solid #046577;*/
  background-color: #F0F0F0;
}

.olddefault-footer  a {
  color: #102a83 !important;
}

.olddefault-footer ul {
  margin-top: 10px;
  padding-left: 10px !important;
  border-left: 3px solid #CF8D17;
}

.olddefault-menubar, .olddefault-menubar .dropdown-menu {
  background: #054C56 !important;
}
@media only screen and (min-width: 992px) {
    .olddefault-menubar .nav-item:not(:last-child):hover,
    .olddefault-menubar .nav-item:not(:last-child):hover .dropdown-menu {
        background-color: #046577 !important;
    }
    .olddefault-menubar .dropdown-item:hover {
        background-color: #01436D !important;
    }
}
.olddefault-bottomOfFooter {
    background-color: #046577 !important;
    color: #ffffff !important;
}

.olddefault-footer a {
    color: #102a83 !important;
}
.olddefault-bottomOfFooter a {
    color: #ffffff !important;
}
