/* Color scheme: https://coolors.co/fefefe-d3e0bf-618e15-102a83-600030, originally http://www.colourlovers.com/palette/656827/fresh_apples?sAC=1 */

/* Official IACR logo color is #102A83 until further notice */


/*** General ***/
@font-face {
  font-family: 'roboto';
  src: local('Roboto-Regular') url(./fonts/Roboto/Roboto-Regular.ttf) fomat('truetype');
}

body {
  font-family: 'roboto', sans-serif;
}



/*** Header & Nav ***/
img#logo {
  max-height: 7em;
  width: auto;
}

/* NOTE: this is only to space the navbar appropriately on mobile to leave space for the dropdown theme picker. please remove this entire block once theme picker is no longer relevant */
@media (max-width: 992px) {
  nav {
    margin-top: 40px;
  }
}

/* NOTE: This is modifying bootstrap's classes, which is dangerous and generally frowned upon. Consider this a quickfix, not a way of life. */
a.nav-link, a.dropdown-item {
  color: #EBF7EB !important;
}

button#searchBtn>ion-icon {
  color: #EBF7EB;
}

div.input-group input {
  background-color: #FDFDFD;
}



/*** Home Page ***/
h5.eventName {
  background-color: purple;
  color: white;
}

p.eventInfo {
  background-color: purple;
  color: white;
}

/******* proposed different way of doing events cards - delete if not using *******/
img.trying {
  -webkit-clip-path: polygon(10% 0%, 10% 66.66%, 50% 100%, 90% 66.66%, 90% 0%);
  clip-path: polygon(10% 0%, 10% 66.66%, 50% 100%, 90% 66.66%, 90% 0%);
  opacity: 0.9;
  -webkit-filter: blur(1.7px) grayscale(60%);
  filter: blur(1.7px) grayscale(60%);
}

h5.titleAttempt {
  color: white;
  font-size: 2em;
}

h5.titleAttemptDark {
  color: black;
  font-size: 2em;
}

.textOverPic {
  background-color: rgba(0, 0, 0, 0.4);
  color: white;
  -webkit-clip-path: polygon(5% 0%, 95% 0%, 95% 100%, 5% 100%);
  clip-path: polygon(5% 0%, 95% 0%, 95% 100%, 5% 100%);
}

.tallerImg {
  max-height: 230px !important;
  width: auto !important;
}
/******* proposed events card style ends here ********/


img#pubPhoto {
  /* NOTE: fix for img distortion issue on mobile */
  height: 100%;
}

ul#pubLinks>li {
  margin-bottom: 10px;
}

footer ul.nav {
  padding-left: 5px;
}
