/*** General ***/
body {
  background-color: #FEFEFE;
  /* rgba(216, 240, 216, 0.5) */
  color: #091748;
}

main {
  background-color: #FEFEFE;
}

a {
  color: #598113;
}

a:hover {
  color: #600030;
}


/*** Header & Nav ***/
nav, div.dropdown-menu {
  background-color: #600030;
}

/* NOTE: This is modifying bootstrap's classes, which is dangerous and generally frowned upon. Consider this a quickfix, not a way of life. */
a.nav-link, a.dropdown-item {
  color: #EBF7EB !important;
}

ion-icon {
  color: #EBF7EB;
}

div.input-group input {
  background-color: #EBF7EB;
}


/*** Home Page ***/
h3.cardHeading {
  background-color: #618E15;
  color: #EBF7EB;
}

p.card-text {
  background-color: #600030;
}


/*** Footer ***/
footer {
  /* same color as navbar (#0b519a), with added transparency */
  background-color: #F3F7EE;
}

/* NOTE: the color of the border for .footerTitle is in ./main.css */
h5.footerTitle > a {
  color: #091748;
}

a.footerNavLink, a.footerNavLink > ion-icon {
  color: #600030;
}
