/* Color scheme: https://coolors.co/fefefe-d3e0bf-618e15-102a83-600030, originally http://www.colourlovers.com/palette/656827/fresh_apples?sAC=1 */

/* Official IACR logo color is #102A83 until further notice */


/*** General ***/
@font-face {
  font-family: 'roboto';
  src: local('Roboto-Regular') url(./fonts/Roboto/Roboto-Regular.ttf) fomat('truetype');
}

body {
  font-family: 'roboto', sans-serif;
}



/*** Header & Nav ***/
img#logo {
  max-height: 7em;
  width: auto;
}

/* NOTE: this is only to space the navbar appropriately on mobile to leave space for the dropdown theme picker. please remove this entire block once theme picker is no longer relevant */
@media (max-width: 992px) {
  nav {
    margin-top: 40px;
  }
}

/* NOTE: hover effect for navbar. massive thanks to https://stackoverflow.com/questions/51413782/dropdown-on-hover-in-bootstrap-4-1 */
.navbar-nav li:hover>.dropdown-menu {
  display: block;
}

/* NOTE: This is modifying bootstrap's classes, which is dangerous and generally frowned upon. Consider this a quickfix, not a way of life. */
a.nav-link, a.dropdown-item {
  color: #EBF7EB !important;
}

button#searchBtn>ion-icon {
  color: #EBF7EB;
}

div.input-group input {
  background-color: #FDFDFD;
}



/*** Home Page ***/
h4.figTitle {
  color: black;
}

h4.longCardTitle {
  font-size: 1.5em;
  margin-bottom: 9px;
}

img.tallFigImg {
  max-height: 120px !important;
  width: 100%;
}

img#pubPhoto {
  /* NOTE: fix for img distortion issue on mobile */
  height: 100%;
}

ul#pubLinks>li {
  margin-bottom: 10px;
}

footer ul.nav {
  padding-left: 5px;
}
.squareConfImg {
    width: 100%;
}