/* Color scheme: https://coolors.co/340a90-110b9a-102a83-0b519a-0a6f90 */

/* Official IACR logo color is #102A83 until further notice */

/*** General ***/
@font-face {
  font-family: 'roboto';
  src: local('Roboto-Regular') url(./fonts/Roboto/Roboto-Regular.ttf) fomat('truetype');
}

body {
  font-family: 'roboto', sans-serif;
  background-color: #FEFEFE;
  /* F2FFF0 - custom white-gray
  F8F8FF - ghost white
  EFFEFF - pale blue (fade out/transparency to make viable) */
  color: #091748;
}

main {
  background-color: #FEFEFE;
  /* rgba(245, 252, 250, 0.2) */
}

a {
  color: #1D8190;
  /* alt? 2292A4 */
}

a:hover {
  color: #180060;
}


/*** Header & Nav ***/
img#logo {
  max-height: 7em;
  width: auto;
}

nav, div.dropdown-menu {
  background-color: #0B519A;
}

/* NOTE: This is modifying bootstrap's classes, which is dangerous and generally frowned upon. Consider this a quickfix, not a way of life. */
a.nav-link, a.dropdown-item {
  color: #FEFEFE !important;
}

ion-icon {
  color: #FEFEFE;
}

div.input-group input {
  background-color: #FEFEFE;
}


/*** Home Page ***/
/* NOTE: when uncommented, these give a bookmark effect to the date overlays on events */
/* div.card-img-overlay {
  width: 11em;
}
p.card-text {
  width: 100%;
} */

h3.cardHeading {
  background-color: #0A6F90;
  color: #FEFEFE;
}

p.card-text {
  background-color: #0B519A;
}
