/*** Button for changing themes ***/
#theme-menu {
  position: fixed;
  top: 0%;
  right: 0%;
  z-index: 1000;
  height: 0;
}

#theme-menu button {
  background: #f0f0f0 !important;
  border: 2px solid red;
}


/****************************************************
Default theme. Copy this to make a new one, replacing * .default with .green or whatever the name is.
*****************************************************/
/* default theme based on http://www.colourlovers.com/palette/656837/a_tree_grows_in_sand?sAC=1 */
.default-body {
  background-color: rgba(216, 192, 120, 0.2);
  color: #111236;
}

.default-anchor {
  color: #48A8C0;
}

.default-menubar, .default-dropdown {
  background: #48A8C0;
}

.default-cardHeading {
  border-top: 4px solid #48A8C0;
}

.default-figCaption {
  background-color: #48A8C0;
  color: #EBF7EB;
}

.default-footer {
  background-color: rgba(168, 216, 168, 0.3);
}

.default-footerTitle, .default-footerTitle>a {
  color: #091748
}

.default-footerLink, .default-footerLink>ion-icon {
  color: #48A8C0;
}



/*** Fresh apples theme, based on https://coolors.co/fefefe-d3e0bf-618e15-102a83-600030 ***/
.apple-body {
  background-color: #FEFEFE;
  color: #220012;
}

.apple-anchor {
  color: #598113;
}

.apple-menubar, .apple-dropdown {
  background-color: #600030;
}

.apple-cardHeading {
  border-top: 4px solid #618E15;
}

.apple-figCaption {
  background-color: #618E15;
  color: #EBF7EB;
}

.apple-footer {
  background-color: #F3F7EE;
}

.apple-footerTitle, .apple-footerTitle>a {
  color: #091748;
}

.apple-footerLink, .apple-footerLink>ion-icon {
  color: #600030;
}
