/*** Button for changing themes ***/
#theme-menu {
  position: fixed;
  top: 0%;
  right: 0%;
  z-index: 1000;
  height: 0;
}

#theme-menu button {
  background: #f0f0f0 !important;
  border: 2px solid red;
}


/****************************************************
Default theme. Copy this to make a new one, replacing * .default with .green or whatever the name is.
*****************************************************/
.default-body {
  background-color: #EDE8F4;
  color: #111236;
}

.default-menubar {
  background: #073642;
  color: #f0f0f0;
}

.default-card-header {
  background: #2AA198;
  color: #000000;
}

.default-card-header a, h2 {
  color: #f0f0f0;
}

.default-nav-link {
  color: #ffffff !important;
}


/*** Fresh apples theme ***/
.apple-body {
  background-color: #FEFEFE;
  color: #220012;
}

.apple-menubar, .apple-dropdown {
  background-color: #600030;
}

.apple-cardHeading {
  border-top: 4px solid #618E15;
}

.apple-figCaption {
  background-color: #618E15;
  color: #EBF7EB;
}
