/* NOTE: IACR logo color is officially #102a83 until further notice */


/*** Button for changing themes ***/
#theme-menu {
  position: fixed;
  top: 0%;
  right: 0%;
  z-index: 1000;
  height: 0;
}

#theme-menu button {
  background: #f0f0f0 !important;
  border: 2px solid blue;
}


/****************************************************
Default theme. Copy this to make a new one, replacing * .default with .green or whatever the name is.
*****************************************************/
/* default theme based on https://coolors.co/fdfdfd-9ce4c7-32908f-256969-04120d */
.default-body {
  background-color: #FDFDFD;
  color: #04120D;
}

.default-anchor {
  color: #32908F;
}

.default-menubar, .default-dropdown {
  background: #32908F;
}

.default-cardHeading {
  border-top: 4px solid #32908F;
}

.default-figCaption {
  background-color: #32908F;
  color: #FDFDFD;
}

.default-footer {
  background-color: rgba(156, 228, 199, 0.2);
}

.default-footerTitle, .default-footerTitle>a {
  color: #256969
}

.default-footerLink, .default-footerLink>ion-icon {
  color: #32908F;
}



/*** Fresh apples theme, based on https://coolors.co/fefefe-d3e0bf-618e15-102a83-600030 ***/
.apple-body {
  background-color: #FEFEFE;
  color: #220012;
}

.apple-anchor {
  color: #598113;
}

.apple-menubar, .apple-dropdown {
  background-color: #600030;
}

.apple-cardHeading {
  border-top: 4px solid #618E15;
}

.apple-figCaption {
  background-color: #618E15;
  color: #EBF7EB;
}

.apple-footer {
  background-color: #F3F7EE;
}

.apple-footerTitle, .apple-footerTitle>a {
  color: #091748;
}

.apple-footerLink, .apple-footerLink>ion-icon {
  color: #600030;
}



/*** Monochrome (with accent color) theme, based on https://coolors.co/f2ac10-929ec6-3b5099-102a83-0b1b54 ***/
.monochrome-body {
  background-color: #FEFEFE;
  color: #0B1B54;
}

.monochrome-anchor {
  color: #3B5099;
}

.monochrome-menubar, .monochrome-dropdown {
  background-color: #102A83;
}

.monochrome-cardHeading {
  border-top: 4px solid #F2AC10;
}

.monochrome-figCaption {
  background-color: #102A83;
  color: #FEFEFE;
}

.monochrome-footer {
  background-color: rgba(146, 158, 198, 0.2);
}

.monochrome-footerTitle, .monochrome-footerTitle>a {
  color: #0B1B54;
}

.monochrome-footerLink, .monochrome-footerLink>ion-icon {
  color: #102A83;
}



/*** Wine theme, based on https://coolors.co/eae7eb-979873-2e0344-37001e-1e012d ***/
.wine-body {
  background-color: #FFFFFF;
  color: #1A0226;
}

.wine-anchor {
  color: #522D64;
}

.wine-menubar, .wine-dropdown {
  background-color: #2E0344;
}

.wine-cardHeading {
  border-top: 4px solid #52002D;
}

.wine-figCaption {
  background-color: #2E0344;
  color: #FEFEFE;
}

.wine-footer {
  background-color: rgba(188, 189, 165, 0.3);
}

.wine-footerTitle, .wine-footerTitle>a {
  color: #52002D;
}

.wine-footerLink, .wine-footerLink>ion-icon {
  color: #411955;
}
