footer {
  /* same color as navbar (#0b519a), with added transparency */
  background-color: rgba(11, 81, 154, 0.6);
}

h5.footerTitle {
  padding-left: 15px;
  border-left: 3px solid #eeeeee;
  padding-bottom: 6px;
  /* margin-bottom: 20px; */
}

h5.footerTitle > a {
  color: #091748;
}

footer ul.nav {
  padding-left: 5px;
}

a.footerNavLink {
  color: #FEFEFE;
}
