/*** General ***/
body {
  /* TODO: add fonts */
}

h2 {
  font-size: 2em;
}


/*** Nav ***/
a.navbar-brand {
  font-size: 1.6em;
}


/*** Header ***/
#headerRow {
  margin-top: 20px;
}

/* TODO: broken on mobile view */
#logo {
  max-width: 100%;
}

header {
  margin: auto;
}

header > h1 {
  font-size: 2.6em;
}
