/*** General ***/
@font-face {
  font-family: 'roboto';
  src: local('Roboto-Regular') url(./fonts/Roboto/Roboto-Regular.ttf) fomat('truetype');
}

body {
  font-family: 'roboto', sans-serif;
}

/* NOTE: these may need to be more specific so as not to affect pages we don't actually mean to modify. see also h2-h5 (& header?) */
h1 {
  font-size: 2.6em;
}

h2 {
  font-size: 2em;
}

h3 {
  font-size: 1.8em;
}

h4 {
  font-size: 1.4em;
}

h5 {
  font-size: 1.1em;
  font-weight: 700;
}



/*** Nav ***/
#topSearch {
  margin-top: 20px;
  margin-bottom: -20px;
}

#logo {
  max-width: 75%;
  height: auto;
}

.navbar-toggler {
    z-index: 1;
}

/* Using breakpoint styling rather than a preprocessor like Sass, because that adds an unnecessary layer of obfuscation when long-term maintenance may be required and you never know that the next person will actually know Sass. What this does is add the margin-left to the navbar contents, but only when said content isn't collapsed to the hamburger. */
@media only screen and (min-width: 992px) {
  #navContent {
    margin-left: -30px;
  }
}



/*** Header ***/
#headerRow {
  margin-top: 20px;
}

header {
  margin: auto;
}



/*** Page-specific: board of directors ***/
div.bottomSpacing {
  margin-bottom: 20px;
}
